//
// Buttons
// --------------------------------------------------

.btn {
  display         : inline-block;
  text-align      : center;
  vertical-align  : middle;
  touch-action    : manipulation;
  cursor          : pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border          : 1px $white solid;
  color           : $white;
  white-space     : nowrap;
  font-size       : $btn-font-base;
  height          : $btn-height;
  line-height     : $btn-line-height;
  background      : transparent;
  -webkit-user-select: none;

  &:focus { outline: none;}

  &.active,
  &:active {
    color       : $dim-black;
    background  : $white;
    border-color: $white;

  }

  // &:active,
  // &.active {
  //   outline: 0;
  //   background-image: none;
  //   .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  // }
}

// Alternate buttons
// --------------------------------------------------

// .btn-primary {
//   @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
// }
// // Success appears as green
// .btn-success {
//   @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
// }
// // Info appears as blue-green
// .btn-info {
//   @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
// }
// // Warning appears as orange
// .btn-warning {
//   @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
// }
// // Danger and error appear as red
// .btn-danger {
//   @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
// }

// Button Sizes
// --------------------------------------------------

// .btn-lg {
//   // line-height: ensure even-numbered height of button next to large input
//   @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
// }
// .btn-sm {
//   // line-height: ensure proper height of button next to small input
//   @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
// }
// .btn-xs {
//   @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
// }

// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width  : 100%;
}
