/*箭头向右的三角形*/
@mixin triangle_right ($size, $color){
  content: '';
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-bottom: $size solid transparent;
  border-top: $size solid transparent;
  border-left: $size solid $color;
}
