
/* 一、颜色 */
// 这里需要改一下名字
$theme: #CCAC7B; /* 主题色 */
$success: #38BC59; /* 成功色 */
$warn: #D4482E; /* 警告色 */
$theme2: #000000; /* 主题色 */
$darkgray: #282828; /* 高度灰 */
$lessgray: #BEBEBE; /* 非强调 */
$background: #ECECEC; /* 背景色 */

/* 二、字体 */
$default_font: 'PingFang SC';
$spare_font: 'Microsoft YaHei';

* {
  font-family: $spare_font;
}

/* 三、按钮 */
