.form-box {
  margin: 0 10px;
}

.entry-container {
  background-image: url(http://work.file.aiyaopai.com/52/082ba124-a1ec-4f13-a627-c12e76e53155.jpg?imageMogr2/auto-orient/thumbnail/600x/interlace/1);
  background-size: cover;
  background-position: 50% 50%;
  height: 400px;
}
